.items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 1;
}

.item_dragging {
  opacity: 0;
}

.item_hover {
  border: 1px dashed var(--text-primary-color);
}
