.profile {
  width: 100%;
  max-width: var(--max-content-width);
  display: flex;
  box-sizing: border-box;
  gap: calc(var(--offset-base-size) * 15);
  height: 100%;
}

.profile__content {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
}

.navigation {
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.nav__text {
  opacity: .4;
}
