@import url("./vendor/normalize.css");

body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.page {

}

.root {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px
}

*::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

*::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--colors-interface-accent);
  cursor: pointer;
  text-decoration: none;
}


