.header{
  border: 2px solid var(--colors-interface-accent);
  background-color: var(--background);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.header__logo{
  position: absolute;
  margin: 0 auto;
}
